@import url(reset.css);

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font:25px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	color:  #1B1D23;
	background: url(../images/8_1593_1186.jpg) 0px 0px no-repeat;
	background-size: cover;
	opacity: 0.8;	
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.header {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #A4C0C6;
	
	
	margin-top: 30px;
	text-align: center;
	height: 140px;
	color:  #000000;
	font-weight: 900;
}

.headerNameCompany {
	text-align: center;
	font-size: 40px;
}

.headerLoggedAs, .headerChooseLanguage  {
	text-align: center;
	height: 30px;
	font-size: 20px;
}

select{
	font:18px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
	width: 145px;
}

.mainContent {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 20px;
	margin-top: 50px;
	text-align: center;
	background: #A4C0C6;
}
.mainBlockName {
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#registrationForm {
	height: 250px;
	font:20px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
}

.registrationForm_left {	
	width: 420px;
	display: inline-block;
}

.registrationForm_right {
	width: 420px;
    display: inline-block;
}

.field {
	margin-top: 10px;
	text-align:right;
	margin-right: 30px;
	
}

label {
	float: left;	
}

input {
	font:12px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	width: 133px;
	padding-left: 8px;
    box-sizing: content-box;
}

#signUp {
	margin: 40px 300px 10px 300px;
	font:20px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
}

#exit {
	margin: 10px 300px 10px 300px;
	font:20px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
}

.footer {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #A4C0C6;
	
	margin-top: 30px;
	font:14px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	color: black;
	text-align: center;
	opacity:0.8;
}