@import url(reset.css);

@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
	font:25px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	color:  #1B1D23;
	background: url(../images/1_1180_624.jpg) 0px 0px no-repeat;
	background-size: cover;	
	
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
}

.header {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #E4E0BE;
	
	margin-top: 50px;
	text-align: center;
	height: 140px;
	color:  #000000;
	font-weight: 900;
	opacity: 0.8;
}

.headerNameCompany {
	text-align: center;
	font-size: 40px;
}

.headerLoggedAs, .headerChooseLanguage  {
	text-align: center;
	height: 30px;
	font-size: 20px;
}

select {
	font:18px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
}

span {
	font:14px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
}

.mainContent {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 20px;
	margin-top: 50px;
	text-align: center;
	height: 240px;
	opacity: 0.8;	
	background: #E4E0BE;
}
.mainBlockName {
	font-size: 30px;
	margin-top: 20px;
}
.mainContent label {
	display: inline-block;
    width: 130px;
    padding-left: 190px;
}
#authorizationForm, #registerForm {
	text-align: left;
	margin-top: 15px;
}

#login, #password {
	font-size: 20px;
	margin-bottom: 8px;
	padding-left: 8px;
}
.signInBlock {
	margin-left: 325px;
}
#signIn {
	width: 150px;
	margin-top: 15px;
	font:18px "MyriadProRegular",  "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
}

.registerForm {
	text-align: left;
}
#register {
	margin-top: 15px;
	font:18px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	opacity: 0.8;
	margin-left: 325px;
	width: 150px;
}

.responseMessageBlock {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #E4E0BE;
	
	margin-top: 30px;
	text-align: center;
	color:  #000000;
	/*font-weight: 900;*/
	opacity: 0.8;
}

.footer {
	border: solid #443F31 4px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #E4E0BE;
	
	margin-top: 140px;
	font:14px "MyriadProRegular", "Arial Black", Gadget, sans-serif;
	text-align: center;
	opacity: 0.8;
}

/*
*************************************************************************
******************** clientRegistrationStyles ***************************
*************************************************************************
*/
